.res-card {
    background-color: #36454F;
    width: 200px;
    padding: 10px;
    margin: 18px;
    border-radius: 15px;
}

.res-card:hover {
    border: 1px solid lightblue;
    cursor: pointer;
}

.res-card > h3 , h4 {
    color: #CCCCCC;
    margin-block-start: 0.4rem;
    margin-block-end: 0.4rem;
    margin-right: 3px;
}

.res-card h4 {
    font-size: small;
}

.star-rating {
    color: rgb(231, 218, 218);
    display: flex;
}

.res-logo {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}